img.disabled{
    opacity: 0.3;
}

img.is-small{
    width: 150px;
    max-width: 100%;
}

img.is-large{
    width: 300px;
    max-width: 100%;
}

img.circle{
    border-radius: 50%;
    height: 150px;
}